<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>Servants of the Living Most High God</p>
<p>Aliens and Strangers to the World</p>
<p>Prophets, a Royal Priesthood, and Sons of the Living God</p>