<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>Seek and ye shall find</p>
<p>Knock and the door shall be opened unto you</p>
<p>Love the LORD your God with all your heart and mind and soul and strength</p>