<footer class ="footer">
  <small>
    <a href="http://jundowon.com">Jundowon</a>
    by Daniel Lee
  </small>
    <nav>
      <ul>
        <li><%= link_to "About Us",    about_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
        <li><%= link_to "News",     'http://490a.com' %></li>
      </ul>
    </nav>
    </div>
  </div>
</footer>